<meta property="og:title" content="{{title}}" />
<meta property="og:type" content="{{type}}" />
<meta property="og:url" content="{{url}}" />
{{#image}}
    <meta property="og:image" content="{{image}}" />
{{/image}}
{{#description}}
    <meta property="og:description" content="{{description}}" />
{{/description}}
{{#amount}}
    <meta property="og:product:price:amount" content="{{amount}}" />
{{/amount}}
{{#currency}}
    <meta property="og:product:price:currency" content="{{currency}}" />
{{/currency}}
{{#availability}}
    <meta property="og:product:availability" content="{{availability}}" />
{{/availability}}